
    <div class="row">
        <div class="col">
          <h2>Todo List</h2>
        </div>
        <div class="col">
            <button>Create a new todo</button>
        </div>
    </div>
    <br>
<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Description</th>
    <th scope="col">Completed</th>
    <th scope="col">Operate</th>
  </tr>
 
  </thead>
  <tbody>
    <tr *ngFor="let todo of todos">
      <td>{{todo.id}}</td>
      <td>{{todo.description}}</td>
      <td>{{todo.completed}}</td>
      <td>
        <button>Delete</button>
      </td>
    </tr>
  </tbody>
</table>