<!-- Default form register -->
<div class="row row-cols-2 justify-content-md-center">
<form class="text-center border border-light p-5">

  <p class="h4 mb-4">Sign up</p>

  <div class="row">
  
    <div class="col ">
      <!-- First name -->
      <input type="text" id="firstName" class="form-control" placeholder="First name">
    </div>
    <div class="col">
      <!-- Last name -->
      <input type="text" id="lastName" class="form-control" placeholder="Last name">
    </div>
  </div>
 <br />
  <!-- E-mail -->
  <input type="email" id="email" class="form-control mb-4" placeholder="E-mail">

  <!-- Password -->
  <input type="password" id="passord" class="form-control" placeholder="Password" aria-describedby="Passord">
  
  <!-- Password -->
  <input type="number" id="age" class="form-control" placeholder="Age" aria-describedby="Age">
 
  <!-- Sign up button -->
  <button  color="info" block="true" class="my-4" type="submit">Sign in</button>
  <hr>
  <!-- Login -->
  <p>Already a member?
    <a href="" routerLink="/login">Login</a>
  </p>
</form>

</div>
<!-- Default form register -->