<!-- Default form login -->
<div class="row row-cols-2 justify-content-md-center">


  <form class="text-center border border-light p-5">
  
    <p class="h4 mb-4">Sign in</p>
  
    <!-- Email -->
    <input type="email" id="email" class="form-control mb-4" placeholder="E-mail">
  
    <!-- Password -->
    <input type="password" id="password" class="form-control mb-4" placeholder="Password">
  
    <div class="d-flex justify-content-around">
      <div>
        <!-- Forgot password -->
        <a href="">Forgot password?</a>
      </div>
    </div>
  
    <!-- Sign in button -->
    <button  color="info" block="true" class="my-4" type="submit">Sign in</button>
  
    <!-- Register -->
    <p>Not a member?
      <a href="" routerLink="/register">Register</a>
    </p>
  
  
  
  </form>
  </div>
  
  <!-- Default form login -->