
    <div class="row">
        <div class="col">
          <h2 i18n="Todo Header|Title for the todolist@@todoList">Todo List</h2>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#todoModal" i18n="Create new todo@@newtodoCreate">
            Create a new todo
          </button>
        </div>
    </div>
    <br>
<table class="table">
  <thead>
  <tr>
    <th scope="col" i18n="Todolist Title@@todolistTitle">Title</th>
    <th scope="col" i18n="Todolist Desc@@todolistDesc">Description</th>
    <th scope="col" i18n="Todolist Deadline@@todolistDeadline">Deadline</th>
    <th scope="col" i18n="Todolist Completed@@todolistCompleted">Completed</th>
    <th scope="col" i18n="Todolist Operate@@todolistOperate">Operate</th>
  </tr>
  <app-loader *ngIf="isLoading$ | async"></app-loader>
  </thead>
  <tbody *ngIf="(todos$ | async)?.length !== 0 ">
    <tr *ngFor="let todo of todos$ | async">  
      <td>{{todo.title}}</td>
      <td>{{todo.description}}</td>
      <td>{{todo.deadline}}</td>
      <td>
        <select #selected value={{todo.completed}}>
          <option value="false">false</option>
          <option value="true">true</option>
        </select>
      </td>
      <td>
        <button class="btn btn-outline-dark" (click)="delTodo(todo)" i18n="Todolist Delete@@todolistDel">Delete</button>
        <button class="btn btn-outline-dark" (click)="updateTodo(todo,selected.value)" i18n="Todolist Update@@toolistUpdate">Update</button>
      </td>
    </tr>
  </tbody>
</table>
<app-todo-form (newItemEvent)="addTodo($event)"></app-todo-form>