
    <div class="row">
        <div class="col">
          <h2>Todo List</h2>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Create a new todo
          </button>
        </div>
    </div>
    <br>
<table class="table">
  <thead>
  <tr>
    <th scope="col">Title</th>
    <th scope="col">Description</th>
    <th scope="col">Completed</th>
    <th scope="col">Operate</th>
  </tr>
 
  </thead>
  <tbody *ngIf="todos$">
    <tr *ngFor="let todo of todos$ | async">  
      <td>{{todo.title}}</td>
      <td>{{todo.description}}</td>
      <td>
        <select #selected value={{todo.completed}}>
          <option value="false">false</option>
          <option value="true">true</option>
        </select>
      </td>
      <td>
        <button class="btn btn-outline-dark" (click)="delTodo(todo)">Delete</button>
        <button class="btn btn-outline-dark" (click)="updateTodo(todo,selected.value)">Update</button>
      </td>
    </tr>
  </tbody>
</table>
<app-todo-form (newItemEvent)="addTodo($event)"></app-todo-form>