<!-- Default form register -->
<div class="row row-cols-2 justify-content-md-center">
  <form class="text-center border border-light p-5" [formGroup]="registerForm" (ngSubmit)="onSubmit()" >
  
    <p class="h4 mb-4">Sign up</p>
   <!-- First name -->
    <input type="text" id="name" class="form-control mb-4" formControlName="name" placeholder="Name">
    
    <!-- E-mail -->
    <input type="email" id="email" class="form-control mb-4" formControlName="email" placeholder="E-mail">
  
    <!-- Password -->
    <input type="password" id="passord" class="form-control mb-4" formControlName="password" placeholder="Password" aria-describedby="Passord">
    
    <!-- Age -->
    <input type="number" id="age" class="form-control mb-4" formControlName="age" placeholder="Age" aria-describedby="Age">
   
    <!-- Sign up button -->
    <button  color="info" block="true" class="my-4" type="submit">Sign in</button>
    <hr>
    <!-- Login -->
    <p>Already a member?
      <a href="" routerLink="/login">Login</a>
    </p>
    <div class="alert alert-warning" *ngIf="isSignUpFailed$ |async">
      Signup failed!<br />{{ errorMessage$ | async }}
    </div>
    <div class="alert alert-success" *ngIf="isSuccessful$ | async">
      Your registration is successful!
    </div>
  </form>
  
  </div>
  <!-- Default form register -->