<!-- Default form register -->
<div class="row row-cols-2 justify-content-md-center">
  <form class="text-center border border-light p-5" [formGroup]="registerForm" (ngSubmit)="onSubmit()" >
  
    <p class="h4 mb-4" i18n="Register@@register">Register</p>
   <!-- First name -->
    <input type="text" id="name" class="form-control mb-4" formControlName="name" placeholder="Name">
    
    <!-- E-mail -->
    <input type="email" id="email" class="form-control mb-4" formControlName="email" placeholder="E-mail">
  
    <!-- Password -->
    <input type="password" id="passord" class="form-control mb-4" formControlName="password" placeholder="Password" aria-describedby="Passord">
    
    <!-- Age -->
    <input type="number" id="age" class="form-control mb-4" formControlName="age" placeholder="Age" aria-describedby="Age">
   
    <!-- Register button -->
    <button  color="info" block="true" class="my-4" type="submit" i18n="register@@register">Register</button>
    <hr>
    <!-- Login -->
    <p>
      <ng-container i18n="Already a member@@alreadyMember">Already a member?</ng-container>
      <a href="" routerLink="/login" i18n=" Login@@login">Login</a>
    </p>
    <div class="alert alert-warning" *ngIf="isSignUpFailed$ |async">
      <ng-container i18n="Register failed@@registerpFailed">Register failed! Please try again</ng-container><br />{{ errorMessage$ | async }}
    </div>
    <div class="alert alert-success" *ngIf="isSuccessful$ | async" i18n="Register success@@registerSuccess">
      Your registration is successful! Please Login
    </div>
  </form>
  
  </div>
  <!-- Default form register -->