
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel" i18n="New todo@@newTodo">New Todo</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <label for="title" i18n="Todoform Title@@todoformTitle">Title</label>
          <input
          type="text"
          id="title"
          class="form-control"
          [formControl]="titleInput"
          />
          <br/>
          <label for="description" i18n="Todoform Desc@@todoformDesc">Description</label>
          <input
          type="text"
          id="description"
          class="form-control"
          [formControl]="descriptionInput"
          />
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="addTodo()" i18n="Todoform Submit@@todoformSumbit">Submit</button>
        
      </div>
    </div>
  </div>
</div>