<!-- Default form login -->
<div class="row row-cols-2 justify-content-md-center" *ngIf=!isLogin>

  <form class="text-center border border-light p-5" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  
    <p class="h4 mb-4" i18n="Login@@login">Login</p>
  
    <!-- Email -->
    <input type="email" id="email" class="form-control mb-4" formControlName="email" placeholder="E-mail">
  
    <!-- Password -->
    <input type="password" id="password" class="form-control mb-4" formControlName="password" placeholder="Password">
  
  
    <!-- Login button -->
    <button  color="info" block="true" class="my-4" type="submit" i18n="Login@@login">Login</button>

    <app-loader *ngIf="isLoading$ | async"></app-loader>
  
    <!-- Register -->
    <p>
      <ng-container i18n="Not i18na member@@notNumber">Not a member?</ng-container> 
      <a href="" routerLink="/register" i18n="Register@@register">Register</a>
    </p>
    <div class="form-group">
      <div
        class="alert alert-danger"
        role="alert"
        *ngIf="isLoginFailed$ | async"
      >
      <ng-container i18n="Login failed@@loginFailed">Login failed: </ng-container> 
        {{ errorMessage$ | async}}
      </div>
    </div>
  </form>

  </div>
  
  <!-- Default form login -->